@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.cdnfonts.com/css/druk-wide-bold");


:root {
  --background-color: black;
  --text-color: #fff;
  --effect-color: transparent;
  --line-color: #565664;
}

/*Navigation bar*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  padding: 15px 50px;
}

.logo {
  font-family: "Druk Wide Bold", sans-serif;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  position: relative;
}

.nav-links a.language::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 1px;
  background-color: #fff;
}


.hero-section {
  background-color: var(--background-color);
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 1000px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container {
  z-index: 20;
  text-align: center;
  position: relative;
}

/* Media query to hide text on mobile */
@media (max-width: 999px) {
  .text-container {
    display: none; /* Hide text container on mobile */
  }
}

.text {
  font-size: 5.9rem;
  font-family: "Druk Wide Bold", sans-serif;
  color: #fff !important ;
  -webkit-text-stroke: 0px;
  letter-spacing: -0.01em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: block;
  margin: 0;
  line-height: 1;
  transition: color 0.3s ease, -webkit-text-stroke 0.3s ease;
}

.split-parent {
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.split-child {
  display: inline-block;
  transform: translateY(100%);
  opacity: 1;
  transition: transform 0.9s ease, opacity;
}

.text-emerged .split-child {
  transform: translateY(0);
  opacity: 1;
}

.text-effect {
  position: absolute;
  inset: -4px;
  z-index: 0;
  background-color: var(--effect-color);
  clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
  transition: all cubic-bezier(0.1, 0.5, 0.5, 1) 0.4s;
}

.text:hover .text-effect {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
}

.text:hover {
  color: var(--hover-text-color) !important;
  -webkit-text-stroke: 1px #fff;
}

/* Base styles for both mobile and desktop */
.circular-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 600px;
}

/* Mobile styles (for window width less than 1000px) */
@media (max-width: 999px) {
  .circular-layout {
    display: flex; /* Ensure flexbox is enabled */
    flex-direction: column; /* Stack items vertically */
    height: auto;
    gap: 40px; /* Space between items */
    perspective: 1000px;
  }

  .circular-item {
    width: 336px;
    height: 272px;
    margin-bottom: none;
    position: relative;
  }
}

/* Desktop styles (for window width 1000px and above) */
@media (min-width: 1000px) {
  .circular-layout {
    height: 600px; /* Fixed height for desktop layout */
    perspective: 1000px;
  }

  .circular-item {
    position: absolute; /* Position items absolutely */
    width: 336px;
    height: 272px;
    transform: translate(-50%, -50%);
  }

  .circular-item:nth-child(1) {
    top: 36%;
    left: -7.6%;
  }

  .circular-item:nth-child(2) {
    top: 16%;
    left: 110%;
  }

  .circular-item:nth-child(3) {
    top: 95%;
    left: 44%;
  }
}

.diagonal-line {
  position: absolute;
  width: 408px;
  height: 1px;
  background-color: var(--line-color);
  top: 0;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.diagonal-line-1 {
  left: 0;
  transform: rotate(33.3deg); /* Adjusted angle for 336x222 */
  transform-origin: top left;
}

.diagonal-line-2 {
  right: 0;
  transform: rotate(-33.3deg); /* Adjusted angle for 336x222 */
  transform-origin: top right;
}

.image-component {
  position: relative;
  overflow: hidden;
  height: 100%;
  transform: all 0.5s ease;
  transition: transform 0.3s ease; /* Added smooth transition */
}

.image-component:hover {
  transform: translate3d(20px, -20px, 20px); /* Moves image 10px to the right */
}

.image-component:hover ~ .text-container .text {
  color: transparent; /* Transparent fill */
  -webkit-text-stroke: 1px #fff; /* White outline on hover */
}

.custom-component {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-weight: bold;
}

.transparent-content {
  display: none;
  width: calc(100%);
  height: calc(100% - 50px);
  background-color: transparent;
  border: 1px solid var(--line-color);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
}
